#changeFormContainer{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#changeForm{
    padding: 20px;
    background-color: aliceblue;
    width: 200px;
}

ul{
    display: grid;
    grid-template-columns:  auto auto auto;
    gap: 30px;
}

ul li{
    padding: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

ul li a{
    padding: 5px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
